{%  extends 'accounts/main.html' %}
{%  block content %}
    <h1>Empleos</h1>
            <br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Empleos</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Empleos</th>
                    <th>Category</th>
                    <th>Salario Nominal</th>
                </tr>

                {% for i in empleos %}
                    <tr>
                        <td>{{i.name }}</td>
                        <td>{{i.category }}</td>
                        <td>{{i.salario }}</td>

                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{%  endblock content %}