{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<h3>Salario Nominal</h3>

<h3> Aportes salariales</h3>
    <table>
        <th></th>
        <th></th>
        <th>
            <td><a href="https://www.bps.gub.uy/6575/calculo-de-aportes.html">Página Oficial_ BPS</a></td>
        </th>
    </table>

<h3>Horas extras</h3>
    <table>
        <th></th>
        <th></th>
        <th>
            <td><a href="https://www.gub.uy/ministerio-trabajo-seguridad-social/politicas-y-gestion/derecho-reglamentacion-laboral/derecho-laboral-uruguayo/horas-extras">Página Oficial_ MTSS</a></td>
        </th>
    </table>

<h3>Franjas Salariales</h3>

<table>
        <th></th>
        <th></th>
        <th>
            <td><a href="https://devolucionirpf.com.uy/franjas/">Página Devoluciòn de IRPF </a></td>
        </th>
    </table>








{% endblock content %}
