<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total_recibos">
			  	<div class="card-header">
			  		<h5 class="card-title">Total a cobrar </h5>
			  	</div>
                <div class="card-body">
			    	<h3 class="card-title">{{ total_recibos }}</h3>
			  	</div>
			</div>
		</div>
	</div>

    <div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="recibos-partida">
			  	<div class="card-header">
			  		<h5 class="card-title">Total partidas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ partida }}</h3>
			  	</div>
			</div>
		</div>
	</div>


	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="recibos-descuentos">
			  	<div class="card-header">
			  		<h5 class="card-title">Total descuentos </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ request.user.usuario.empleo.salario}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="recibos-salario">
			  	<div class="card-header">
			  		<h5 class="card-title">Salario Nominal</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ Empleo.salario }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>