<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total_recibos">
			  	<div class="card-header">
			  		<h5 class="card-title">Total a cobrar </h5>
			  	</div>
                <div class="card-body">
			    	<h3 class="card-title">{{ total_recibos }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="recibos-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Recibos Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ delivered }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="recibos-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Recibos Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ pending }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>